<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Edustack"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Edustack">

        <!-- Use intent-filter to change the startup interface -->
        <!-- I changed android:name to the default one had conflicts -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Edustack.NoActionBar">
        </activity>

        <activity
            android:name=".TeacherActivity"
            android:exported="true"
            android:theme="@style/Theme.Edustack.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AllReports"
            android:exported="false"
            android:theme="@style/Theme.Edustack.NoActionBar" />
        <activity
            android:name=".AllClasses"
            android:exported="false"
            android:theme="@style/Theme.Edustack.NoActionBar" />

    </application>

</manifest>
